@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h2>Welcome to Members application.</h2>
        Please, <a href="authentication/login">Log in</a> to start using Members application.
    </NotAuthorized>
</AuthorizeView>